@model Bookmarks.Web.Areas.User.Models.EditorModels.CommentEditorModel
@{
    this.ViewBag.BookmarkId = Context.Request.RequestContext.RouteData.Values["id"];
}

@using (Html.BeginForm("AddComment", "Home", new { area = "User", id = this.ViewBag.BookmarkId }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "AddComment"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(c => c.Text, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Text, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" value="Comment" onclick="addComment()"/>
        </div>
    </div>
}

<script>
    function addComment() {
        $.ajax({
            type: "POST",
            url: "/User/Home/AddComment/@this.ViewBag.BookmarkId",
            data: $('#AddComment').serialize(),
            datatype: "html",
            success: function (data) {
                $('#newCommentsPlace').append(data);
            }
        });
    }
</script>