@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Users", "Index", "Users", new{ area = "Admin"}, new { @class = "btn btn-primary", @style = "width: 100%" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Tweets", "Index", "Tweets", new{ area = "Admin"}, new { @class = "btn btn-primary", @style = "width: 100%" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Notifications", "Index", "Notifications", new { area = "Admin" }, new { @class = "btn btn-primary", @style = "width: 100%" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Roles", "Index", "Roles", new { area = "Admin" }, new { @class = "btn btn-primary", @style = "width: 100%" })
    </div>
</div>

